<div class="menu">
    <a href="/note" class="btn btn-secondary menu-item">Neue Notiz erstellen</a>

    <a href="/?sortBy=finishedUntil&direction={{finishedUntilDirection}}" class="btn 
    {{#if finishedUntilActive}}btn-primary{{^}}btn-secondary{{/if}} menu-item">Nach Fälligkeitsdatum sortieren</a>

    <a href="/?sortBy=createdDate&direction={{createdDateDirection}}" class="btn
    {{#if createdDateActive}}btn-primary{{^}}btn-secondary{{/if}} menu-item">Nach Erstellungsdatum sortieren</a>

    <a href="?sortBy=priority&direction={{priorityDirection}}" class="btn
    {{#if priorityActive}}btn-primary{{^}}btn-secondary{{/if}} menu-item">Nach Priorität sortieren</a>
</div>
<div>
{{#if notes}}
{{#each notes}}
<article>
    <header class="space-between flex-items-center">
        <h2>{{title}}</h2>
        <small>
            <i class="material-icons">
            {{#if isFinished}}
            erledigt
            {{^}}
            {{dueTimeLabel}}
            {{/if}}
            </i>
        </small>
    </header>
    <textarea class="description" disabled>{{description}}</textarea>
    <footer class="space-between flex-items-center">
        <div>
            {{#each priority}}
            <img src="/star.png" class="icon" />
            {{/each}}
        </div>
        <div>
            <a href="/editNote/{{_id}}" class="btn btn-secondary">bearbeiten</a>
            <a href="/deleteNote/{{_id}}" class="btn btn-secondary">löschen</a>
        </div>
    </footer>
</article>
{{/each}}
{{^}}
<div class="alert alert-danger">Keine Todos gefunden!</div>
{{/if}}
</div>