<a href="/note">Create New Note</a>
{{#if finishedUntilActive}}
<a href="/?sortBy=finishedUntil&direction={{finishedUntilDirection}}" class="active">By Finish Date</a>
{{^}}
<a href="/?sortBy=finishedUntil&direction={{finishedUntilDirection}}">By Finish Date</a>
{{/if}}

{{#if createdDateActive}}
<a href="/?sortBy=createdDate&direction={{createdDateDirection}}" class="active">By Created Date</a>
{{^}}
<a href="/?sortBy=createdDate&direction={{createdDateDirection}}">By Created Date</a>
{{/if}}

{{#if priorityActive}}
<a href="/?sortBy=priority&direction={{priorityDirection}}" class="active">By Importance</a>
{{^}}
<a href="/?sortBy=priority&direction={{priorityDirection}}">By Importance</a>
{{/if}}

<div>
<hr />
{{#each notes}}
<div>
    <table>
        <tr>
            <td>{{dueTimeLabel}}</td>
            <td>{{title}}</td>
            <td>
                {{#each priority}}*{{/each}}
            </td>
        </tr>
        <tr>
            <td style="width: 45%;">
                {{#if isFinished}}
                <input type="checkbox" disabled="disabled" checked="checked" />
                {{^}}
                <input type="checkbox" disabled="disabled" />
                {{/if}}
                <span>erledigt</span>
            </td>
            <td style="width: 65%;">
                <textarea style="width: 100%;" disabled="disabled">{{description}}</textarea>
            </td>
        </tr>
    </table>
    <a href="/deleteNote/{{_id}}">löschen</a>
</div>
<hr />
<hr />
{{/each}}
</div>