<a href="/note" class="btn btn-secondary">Neue Notiz erstellen</a>

<a href="/?sortBy=finishedUntil&direction={{finishedUntilDirection}}" class="btn 
{{#if finishedUntilActive}}btn-primary{{^}}btn-secondary{{/if}}">Nach Fälligkeitsdatum</a>

<a href="/?sortBy=createdDate&direction={{createdDateDirection}}" class="btn
 {{#if createdDateActive}}btn-primary{{^}}btn-secondary{{/if}}">Nach Erstellungsdatum</a>

<a href="?sortBy=priority&direction={{priorityDirection}}" class="btn
 {{#if priorityActive}}btn-primary{{^}}btn-secondary{{/if}}">Nach Priorität</a>

<div>
{{#if notes}}
{{#each notes}}
<div style="background-color: grey;" class="flex">
    <div class="flex-item">
        <span class="flex-item">
            <span>{{dueTimeLabel}}</span>
            <span>{{title}}</span>
            <span>
                {{#each priority}}*{{/each}}
            </span>
        </span>
        <span class="flex-item">
            <span>
                {{#if isFinished}}
                <input type="checkbox" disabled="disabled" checked="checked" class="form-control" />
                {{^}}
                <input type="checkbox" disabled="disabled" />
                {{/if}}
                <span>erledigt</span>
            </span>
            <span>
                <textarea disabled="disabled" class="form-control">{{description}}</textarea>
            </span>
        </span>
        <div>
            <a href="/deleteNote/{{_id}}" class="btn btn-secondary">löschen</a>
        </div>
    </div>
</div>
{{/each}}
{{^}}
<div class="alert alert-danger">Keine Todos gefunden!</div>
{{/if}}
</div>