<form method="POST" action="/note" class="container">
    <input type="hidden" name="id" value="{{_id}}" />
    <input type="hidden" name="_method" value="put" />
    <div class="flex">
        <label class="caption">Titel</label>
        <input class="control form-control" name="title" required minlength="1" value="{{title}}" />
    </div>
    <div class="flex">
        <label class="caption">Beschreibung</label>
        <textarea class="control form-control" name="description">{{description}}</textarea>
    </div>
    <div class="flex">
        <label class="caption">Wichtigkeit</label>
        <input class="control form-control" type="number" name="priority" min="0" max="5" required value="{{priority}}" />
    </div>
    <div class="flex">
        <label class="caption">Fertig bis</label>
        <input class="control form-control" type="datetime-local" name="finishedUntil" required value="{{finishedUntil}}" />
    </div>
    <div class="flex">
        <label class="caption">Erledigt</label>
        {{#if isFinished}}
        <input type="checkbox" name="isFinished" value="1" class="control" checked />
        {{^}}
        <input type="checkbox" name="isFinished" class="control" value="1" />
        {{/if}}
    </div>
    <div class="flex">
        <button class="btn btn-primary control">Anlegen</button>
        <a href="/" class="btn btn-secondary control">Abbrechen</a>
    </div>
</form>